*{
    margin:3px ;
    padding: 1px;
}
button{
    padding: .5rem 1.2rem;
    background-color: blue;
    color: white;
    border: none;
}
button:hover{
    background-color: white;
    color: white;
    border: 2px solid rgb(57, 57, 151);
}
a{
    text-decoration: none;
}
form{
    width: 100px;
}
p{

}